<hello name="{{ name }}"></hello>

<h3>User form</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label class="form__input">
    Username:
    <input type="text" formControlName="username" />
  </label>

  <div class="form__input" formGroupName="roles">
    Roles:
    <ul>
      <li>
        <label class="form__input">
          <input id="read" formControlName="read" type="checkbox" />
          Read
        </label>
      </li>
      <li>
        <label class="form__input">
          <input id="write" formControlName="write" type="checkbox" />
          Write
        </label>
      </li>
      <li>
        <label class="form__input">
          <input id="drop" formControlName="drop" type="checkbox" />
          Drop
        </label>
      </li>
    </ul>
  </div>
  <div class="form__actions">
    <button type="submit">Submit</button>
  </div>
</form>
